@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900);
@font-face { font-family: 'AdobeFanHeitiStd-Bold'; src: url("../font/AdobeFanHeitiStd-Bold.otf") format("opentype"); }
@font-face { font-family: 'NotoSansTC-Regular'; src: url("../font/NotoSansTC-Regular.otf") format("opentype"); }
.center-section { top: 50%; left: 50%; transform: translate(-50%, -50%); }

.payment-section { position: relative; margin: auto 30px; padding-bottom: 75px; padding-top: 75px; }
@media screen and (max-width: 996px) { .payment-section { padding-top: 75px; } }
@media screen and (max-width: 475px) { .payment-section { padding-top: 50px; } }
.payment-section .m-tittle { height: 50px; line-height: 50px; font-size: 25px; }
.payment-section .payment-tittle { color: #6AB132; border-bottom: 1px #6AB132 solid; font-size: 19px; letter-spacing: 3px; font-weight: 400; line-height: 23px; }
.payment-section .payment-desc { color: #717071; margin-top: 10px; margin-bottom: 20px; font-size: 15px; line-height: 17px; }
@media screen and (max-width: 360px) { .payment-section .payment-desc { font-size: 12px; } }
